<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.example.chatapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ChatApp">
<!--        <activity android:name=".GroupChat"></activity>-->
        <activity android:name=".groupChatPage" />
        <activity
            android:name=".NewChat"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".u_name"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".chatPage"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".chats"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".registerActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".loginActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>